/* xamarth */

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.carter-one-regular {
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.montserrat-basic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root,
:host {
    --background: #101619;
    --foreground: #eef0f1;
    --primary: #abc7d4;
    --secondary: #31617c;
    --accent: #3f96c6;
    /* --font-sans: "Montserrat"; */
    /* --font-mono: "Carter One"; */
}

:root {
    -webkit-tap-highlight-color: #0000;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.light {
    --background: #e6ecef;
    --foreground: #0e1011;
    --primary: #2b4754;
    --secondary: #83b2ce;
    --accent: #3991c0;
}

.dark {
    --background: #101619;
    --foreground: #eef0f1;
    --primary: #abc7d4;
    --secondary: #31617c;
    --accent: #3f96c6;
}

::-webkit-scrollbar {
    display: none;
    width: 16px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border: 4px solid var(--background);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-dark);
}

.nlogo {
    color: transparent;
    width: 32px;
    height: 32px;
    transition: all 0.4s ease;
}

.nlogo:hover {
    scale: 2;
    transition: all 0.4s ease;
}

.n1c {
    min-height: 44px;
}

.n2 {
    height: 40px;
    width: 40px;
}

.n3 {
    height: 40px;
    width: 84px;
}

.navmain2 {
    height: 0px;
    opacity: 0;
    top: 64px;
    transition: opacity 0.4s ease;
    transition: height 0.4s ease;
    transition: top 0.4s ease;
}

/* xamarth */

.themeToggle {
    color: #bbb;
    display: flex;
    height: 100%;
    width: 40px;
    align-items: center;
    justify-content: flex-start;
}

.st-sunMoonThemeToggleBtn {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
    opacity: 0;
    aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 25px;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
    transform-origin: center center;
    transition: inherit;
    transform: scale(1);
    fill: var(--foreground);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
    transform-origin: center center;
    /* transform: scale(0.75); */
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    opacity: 0;
    scale: 0.75;
}

.st-sunMoonThemeToggleBtn svg .moonMask {
    transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
    transform: translate(0px, 0px);
    fill: var(--background);
}

.st-sunMoonThemeToggleBtn svg .sunRay1 {
    animation-delay: 0s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
    animation-delay: 0.05s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay3 {
    animation-delay: 0.1s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay4 {
    animation-delay: 0.15s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.2s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay6 {
    animation-delay: 0.25s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay7 {
    animation-delay: 0.3s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay8 {
    animation-delay: 0.35s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg {
    transform: rotate(90deg);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .moonMask {
    transform: translate(16px, -3px);
    animation: showRay 0.4s ease 0s 1 forwards;
    /* fill: var(--background); */
    fill: rgba(0, 0, 0, 0);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunMoon {
    transform: scale(0.55);
    fill: var(--primary);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunRay {
    animation: showRay 0.4s ease 0s 1 forwards;
    color: var(--accent);
    opacity: 1;
    /* scale: 1; */
}

@keyframes showRay {
    0% {
        transform: scale(0);
        scale: 0;
    }

    50% {
        transform: scale(0.5);
        scale: 0.5;
    }

    100% {
        transform: scale(1);
        scale: 1;
    }
}


/* input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
} */

.ham {
    display: none;
    visibility: hidden;
}

.bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
    /* Keep height proportional */
}

.bar span {
    position: absolute;
    width: 22px;
    /* proportional to width */
    height: 4px;
    /* smaller height for the bars */
    /* background: #f1faee; */
    background: var(--foreground);
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 8px;
}

.bar span.bottom {
    bottom: 0;
}

input[type]:checked~span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 24px;
    left: 3px;
}

input[type]:checked~span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 24px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked~span.middle {
    transform: translateX(-10px);
    opacity: 0;
}

/* xamarth */

.emojiBox {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 95px;
    height: 95px;
}

.emoji {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 90px;
    height: 90px;
}

@media screen and (min-width: 768px) {
    .emojiBox {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #flexItem {
        display: none;
    }
}

#flexItem {
    background-image: url(../media/SmilingFacewithSunglasses.png);
    background-size: 95px;
    height: 95px;
    width: 95px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}
